.popup__error_visible {
  visibility: visible;
  display: block;
  width: 358px;
  margin: 5px 36px 0px;
  text-align: left;
}
@media screen and (max-width:768px) {
  .popup__error_visible {
    width: 238px;
    margin: 5px 22px 0px;
  }
}
