.logo {
  max-height: 33px;
  max-width: 173px;
  margin-bottom: 41px;
}
@media screen and (max-width:879px) {
  .logo {
    max-height: 24px;
    max-width: 126px;
    margin-bottom: 32px;
    margin-left: 27px;
  }
}
